build
build.ninja

CMakeFiles
CMakeCache.txt
cmake_install.cmake
.cache
.cmake

.is_debug
.is_release

compile_commands.json

confusions.csv
mds.csv
bigramtable.csv
typtr_data.dat

plotting/
prototyping/
